<div class="container skills">
	<span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
	<div class="text-zone">
		<h1> Skills &#038; Experience</h1>
		<p>The main areas of my expertise are Web development & Cyber security, back end and front end development and everything related to Information Security. NodeJS, Typescript, React.js, Next.js, Python, Flask and Django, Sql (Mysql, SqlLite), NoSql (MongoDB), C/C++ and little of GoLang, Java, building my own tools for pentesting, Developing softwares with other developers, building small and medium APIs and working as a full-stack develeoper & working on personal projects.</p>
		<p>Design UI using Adobe Illustrator.</p>
		<p>Often I work on some games using engines (Unity 3D and Unreal Engine) using my coding skills in C++ and C#.</p>
		<p>I've been using linux for a long time being a sys admin have also some experience with powershell, bash, ruby and (used a bunch of other special programming languages such as LOLCODE, scratch, fetlang ...etc).</p>
		<p>Would like to know more?<br /> Please <a href="/contact">contact</a> me.</p>
	</div>
	<div class="clear"></div>
	<div class="skills-charts">
		<div id="myCanvasContainer">
			<canvas width="500" height="500" id="myCanvas">
				<ul>
					<li> 
						<a href="https://www.python.org/" target="_blank">PYTHON</a>
					</li>
					<li> 
						<a href="https://reactjs.org/" target="_blank">React.js</a>
					</li>
					<li> 
						<a href="https://nextjs.org/" target="_blank">Next.js</a>
					</li>
					<li>
						<a data-weight="25" href="https://en.wikipedia.org/wiki/C_plus_plus" target="_blank">C++</a>
					</li>
					<li>
						<a data-weight="25" href="https://en.wikipedia.org/wiki/C" target="_blank">C</a>
					</li>
					<li>
						<a data-weight="24" href="https://golang.org/" target="_blank">GoLang</a>
					</li>
					<li>
						<a data-weight="21" href="https://en.wikipedia.org/wiki/C_sharp" target="_blank">C#</a>
					</li>
					<li>
						<a data-weight="14" href="https://www.php.net/" target="_blank">PHP</a>
					</li>
					<li>
						<a data-weight="13" href="https://flask.palletsprojects.com" target="_blank">FLASK</a>
					</li>
					<li>
						<a data-weight="27" href="https://www.djangoproject.com/" target="_blank">DJANGO</a>
					</li>
					<li>
						<a data-weight="26" href="https://en.wikipedia.org/wiki/reverse_engineering" target="_blank">Reverse Engineering</a>
					</li>
					<li>
						<a data-weight="22" href="https://www.php.net/" target="_blank">PHP</a>
					</li>
					<li>
						<a data-weight="22" href="https://www.mysql.com/" target="_blank">MySQL</a>
					</li>
					<li>
						<a data-weight="21" href="https://nodejs.org/en/" target="_blank">Node JS</a>
					</li>
					<li>
						<a data-weight="17" href="https://en.wikipedia.org/wiki/cryptography" target="_blank">Cryptography</a>
					</li>
					<li>
						<a data-weight="17" href="http://Postgresql.com/" target="_blank">Postgresql</a>
					</li>
					<li>
						<a data-weight="20" href="https://Ubuntu.org/" target="_blank">Ubuntu</a>
					</li>
					<li>
						<a data-weight="23" href="https://jinja.palletsprojects.com/en/3.0.x/" target="_blank">Jinja</a>
					</li>
					<li>
						<a data-weight="15" href="https://en.wikipedia.org/wiki/Css" target="_blank">HTML &amp; CSS</a>
					</li>
					<li>
						<a data-weight="20" href="https://www.javascript.com/" target="_blank">JavaScript</a>
					</li>
					<li>
						<a data-weight="19" href="http://mongoosejs.com/" target="_blank">Mongo DB</a>
					</li>
					<li>
						<a data-weight="19" href="https://github.com" target="_blank">Git</a>
					</li>
					<li>
						<a data-weight="19" href="http://tmux.com/" target="_blank">TMUX</a>
					</li>
					<li>
						<a data-weight="19" href="https://www.3d-unity.com/" target="_blank">Unity 3D</a>
					</li>
					<li>
						<a data-weight="19" href="https://unreal-engine.com/" target="_blank">Unreal Engine</a>
					</li>
					<li>
						<a data-weight="19" href="https://en.wikipedia.org/wiki/PowerShell" target="_blank">PowerShell</a>
					</li>
					<li>
						<a data-weight="19" href="https://en.wikipedia.org/wiki/Bash" target="_blank">Bash</a>
					</li>
					<li>
						<a data-weight="13" href="https://en.wikipedia.org/wiki/stack_overflow" target="_blank">Stack/Heap OverFlow</a>
					</li>
					<li>
						<a data-weight="14" href="https://www.gnu.org/software/gdb/" target="_blank">GDB</a>
					</li>
					<li>
						<a data-weight="19" href="https://hex-rays.com/ida-pro/" target="_blank">Ida Pro</a>
					</li>
					<li>
						<a data-weight="19" href="https://binary-ninja.com" target="_blank">Radare 2</a>
					</li>
					<li>
						<a data-weight="19" href="https://en.wikipedia.org/wiki/steganography" target="_blank">Steganography</a>
					</li>
					<li>
						<a data-weight="19" href="https://www.typescriptlang.org/" target="_blank">Typescript</a>
					</li>
                                        <li>
                                                <a data-weight="19" href="https://cloudxlab.com/blog/numpy-pandas-introduction/" target="_blank">Numpy / Panda</a>
                                        </li>
                                        <li>
                                                <a data-weight="19" href="https://archlinux.org/" target="_blank">Arch Linux</a>
                                        </li>
                                        <li>
                                                <a data-weight="19" href="https://en.wikipedia.org/wiki/CentOS" target="_blank">CentOS</a>
                                        </li>
				</ul>
			</canvas>
		</div>
		<div class="clear"></div>
	</div>
	<span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br/> &lt;/html&gt; </span>
</div>
