<div class="container about">
   <span class="tags top-tags"> &nbsp;&nbsp;&nbsp;&lt;body&gt;</span>
   <div class="text-zone">
      <h1> About me</h1>
      <p>Everything started out with the passion for Cyber Security (Python, Kali Linux). In 2014 I got my first task from an online freelancing website to help building a website. I got into the information security world by playing CTFs regularly and working on personal websites. I found a way to learn new stuff and how to code a website as full stack web dev.</p>
      <p>Four years later I started working on other people's projects, I had a great experience working with knowledgeable people around the world.</p>
      <p>In 2015 I started to work on bug bounty programs. This means applying for bug bounty programs and earning rewards. This was also the year I got the name !0x539 <a href="#">True is (not int(0x539))</a>.</p>
      <p>I played CTFs with a multinational teams, and I had to build my own hacking tools for a better understanding of the mechanism, I believe that no problem should be solved twice, and I strongly support open source programs ^=^, of course, if it doesn't conflict with the company's business.</p>
      <p>I never stopped working on personal projects since then.</p>
      <p>I am now the CEO and a Senior web developer at HytaleHub LLC.</p>
      <p>If you're looking for a web developer or to secure your website or fix an issue, you're in the right place.</p>
      <p>&nbsp;</p>
      <iframe width="100%" height="200" src="https://time.graphics/embed?v=1&id=125518" frameborder="0" allowfullscreen></iframe>
      <div class="clear"></div>
    </div>
    <div class="sound-cloud">
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/288229739&amp;color=%233f705c&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe> 
      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/286596140&amp;color=%233f705c&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
</div>
<span class="tags bottom-tags"> &nbsp;&nbsp;&nbsp;&lt;/body&gt;<br/> &lt;/html&gt; </span>
</div>
